<div class="name">
  <h1>{{name}} <small class="muted">by {{author_type}}</small></h1>
</div>

<div class="description">
  <p>Description: {{short_description}}</p>
  <p>Notes: {{markdown notes}}</p>
  <p>Category: {{category}}</p>
  <p>Download Link: {{download_url}}</p>
</div>
