<section id="main_content" class="inner">
  <ul id="widgetgrid">
  	{{#each model}}
		<li {{bindAttr class="category :item"}}>
			{{#linkTo 'extension' this}}
				<img {{bindAttr src="icon_url"}} onerror="this.src='assets/default.png';"/>
				<span class="appname">{{name}}</span>
				{{#if short_description}}
					<span class="appdesc">{{{trimString short_description}}}</span>
				{{else}}
					<span class="appdesc">{{{trimString notes}}}</span>
				{{/if}}
			{{/linkTo}}
		</li>  		
  	{{/each}}
  </ul>
</section>