<h2 id="filterhead">Filter Apps by Category</h2>
<ul id="filters">
  <li><a {{action displayFilter target="view"}} data-filter="*" class="active">show all</a></li>
  <li><a {{action displayFilter target="view"}} data-filter=".display"> display</a></li>
  <li><a {{action displayFilter target="view"}} data-filter=".comments">comments</a></li>
  <li><a {{action displayFilter target="view"}} data-filter=".findingData">finding data</a></li>
  <li><a {{action displayFilter target="view"}} data-filter="ticketCreation">ticket creation</a></li>
  <li><a {{action displayFilter target="view"}} data-filter="endUser">end user</a></li>
</ul>